.nav-container{
    width: 20vw;
    height: 200px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-option-home{
    font-family:serif ;
    border: none;
    width: 200px;
    height: 80px;
    background-color: rgba(51, 50, 50, 0.83);
    color: rgba(255, 255, 255, 0.857);
    font-size: 3rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.nav-option-home:hover{
    background-color: rgba(0, 0, 0, 0.923);
    color: white;
}